In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\wari\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\wari\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wari\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wari\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wari\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\wari\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [12]:
data = pd.read_csv('compensation data.csv')
data

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [14]:
data.shape

(25973, 6)

In [16]:
data.dtypes

experience_coding    float64
python_user             bool
r_user                  bool
sql_user                bool
most_used             object
compensation           int64
dtype: object

In [18]:
python_user = data['python_user'].count() # to check total length
r_user = data['r_user'].count()
sql_user = data['sql_user'].count()


print(python_user)
print(r_user)
print(sql_user)

25973
25973
25973

In [20]:
experience = data['experience_coding'] # new column as category

def category(experience):
    if experience < 5:
        return "< 5 Years"
    elif experience < 10:
        return "5-10 Years"
    elif experience < 15:
        return "10-15 Years"
    elif experience < 20:
        return "15-20 Years"
    elif experience < 25:
        return "20-25 Years"
    else:
        return "25+ Years"

data["Category"] = experience.apply(category)

data.head()

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Category
0,6.1,True,False,True,Scikit-learn,124267,5-10 Years
1,12.3,True,True,True,Scikit-learn,236889,10-15 Years
2,2.2,True,False,False,NaN,74321,< 5 Years
3,2.7,False,False,True,NaN,62593,< 5 Years
4,1.2,True,False,False,Scikit-learn,36288,< 5 Years

In [22]:
data.loc[(data['Category'] == '< 5 Years'),'compensation']  # to check compensation of less thn 5 years experiece

2        74321
3        62593
4        36288
5        61302
6        68984
         ...
25966     3932
25968    15800
25969    62456
25970      923
25972      493
Name: compensation, Length: 18753, dtype: int64

In [24]:
data.loc[(data['Category'] == '10-15 Years'),'compensation']  # to check compensation of 5 - 10 years experiece

1        236889
15        14699
80       236889
119       31626
122       65143
          ...
25879     59181
25914    245371
25930     13588
25948     27907
25956     51978
Name: compensation, Length: 1118, dtype: int64

In [109]:
data.loc[(data['Category'] == '10-15 Years'),'compensation']  # to check compensation of  10 - 15  years experiece

1        236889
15        14699
80       236889
119       31626
122       65143
          ...
25879     59181
25914    245371
25930     13588
25948     27907
25956     51978
Name: compensation, Length: 1118, dtype: int64

In [26]:
data.loc[(data['Category'] == '< 5 Years'),'compensation']  # to check compensation of less thn 5 years experiece

2        74321
3        62593
4        36288
5        61302
6        68984
         ...
25966     3932
25968    15800
25969    62456
25970      923
25972      493
Name: compensation, Length: 18753, dtype: int64

In [97]:
new_data = data[["experience_coding","python_user","r_user","sql_user","most_used","compensation","Category"]]# make new sheet and add all the column
new_data.to_csv("compensation_new.csv", index=False)