# Question 1. 
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] )
•	Print all elements from my_tuple on a new line (using for loop)
•	Create a new tuple by concatenating the first and last elements of my_tuple

In [50]:
my_tuple = ( (1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9] ) #Print all elements from my_tuple on a new line (using for loop)

for i in my_tuple:
    print(i)

my_tuple_concate = my_tuple[0]+tuple( my_tuple[3] ) #new tuple by concatenating the first and last elements of my_tuple
print(f"\nThe new tuple by concatenating the first and last elements of my_tuple is {my_tuple_concate}")

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

The new tuple by concatenating the first and last elements of my_tuple is (1, 2, 3, 7, 8, 9)

# Question 2. 
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8}, "Harry Potter": {"price": 12.50, "quantity": 2}, }
•	Add a new book in inventory using method and get all book titles using method
•	Remove a book if it's out of stock

In [52]:
inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5},
             "Rich dad poor dad": {"price": 8.99, "quantity": 8},
             "Harry Potter": {"price": 12.50, "quantity": 2},
            }

inventory["AlChemist"]={"price":18, "quantity": 0} # Add a new book in inventory using method

book_titles = list(inventory.keys()) # get all book titles using method 
print(f"All book titles in inventory:")
print(book_titles)

if inventory["AlChemist"]["quantity"] == 0: #Remove a book if it's out of stock
    del inventory["AlChemist"]
    print(f"\nFinal inventory is: ")
    print(inventory)

All book titles in inventory:
['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'AlChemist']

Final inventory is:
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}}

# Question 3. 
An ecommerce store stores information about its products in a nested dictionary. The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200}, 103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
•	Increase the stock of the "Shirt" product (add 50 more units)
•	Add a new product (e.g., "Smartphone")

In [54]:
products = { 
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30}
}
products[102]["stock"] += 50 # Increase the stock of the "Shirt" product (add 50 more units)
print("After increase the stock of the Shirt product")
print(products) 

products[104] = {"name": "Iron", #Add a new product (e.g., "Smartphone")
                "category": "Electronics",
                "price": 2500,
                "stock": 22
                }
print(f"\nPrint final products:")
print(products)

After increase the stock of the Shirt product
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}

Print final products:
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Iron', 'category': 'Electronics', 'price': 2500, 'stock': 22}}

# Question 4. 
You are given a list that contains some duplicate items. Remove the duplicates by converting the list to a set.
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

In [56]:
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]
set_shopping_list =  set(shopping_list)
print("Shopping list after removing duplicates:")
print(set_shopping_list)

Shopping list after removing duplicates:
{'apple', 'orange', 'grape', 'banana'}

# Question 5. 
You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". Find the students who are in "Course A" but not in "Course B" (difference). Find students who are only in one of the two courses (symmetric difference). course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
•	Find students who are in Course A but not in Course B (difference)
•	Find students who are only in one of the two courses (symmetric difference)

In [58]:
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}
only_in_course_a = course_a - course_b # Find students who are in Course A but not in Course B (difference)
only_in_one_course = course_a ^ course_b # Find students who are only in one of the two courses (symmetric difference)

print("Students in Course A but not in Course B (difference):")
print(only_in_course_a)

print("\nStudents only in one of the two courses (symmetric difference):")
print(only_in_one_course)

Students in Course A but not in Course B (difference):
{'Bob', 'John'}

Students only in one of the two courses (symmetric difference):
{'Eve', 'Charlie', 'Bob', 'John'}

# Question 6. 
 Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
Hint

1.	Initialize a variable to hold the sum (e.g., sum_of_evens).
2.	Use a for loop to iterate through all numbers from 1 to 50.
3.	Inside the loop, check if the number is even.
4.	If the number is even, add it to sum_of_evens.
5.	After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [60]:
sum_of_evens = 0 # Initialize a variable to hold the sum (e.g., sum_of_evens).
for number in range(1,51): # Use a for loop to iterate through all numbers from 1 to 50.
    if number % 2 == 0: # Inside the loop, check if the number is even.
        sum_of_evens += number # If the number is even, add it to sum_of_evens.

print("The sum of all even numbers between 1 and 50 is:\n", sum_of_evens) # After the loop finishes, print the total sum of all even numbers between 1 and 50.

The sum of all even numbers between 1 and 50 is:
 650

# Question 7. 
 Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.


Hint:
1.	Ask the user for a number between 1 and 10 .
2.	Use a for loop to iterate through the numbers from 1 to 10.
3.	For each iteration, calculate the product of the given number and the current number in the loop.
4.	Print the result in a readable format (e.g., 5 x 1 = 5).
5.	Ensure the program works correctly for any number between 1 and 10.


Output Hint:

 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40

In [62]:
user_number = int(input("Enter a number between 1 and 10: ")) #Ask the user for a number between 1 and 10
if user_number > 0 and user_number <= 10:#Use a for loop to iterate through the numbers from 1 to 10
    for element in range(1,11):
        print(f"{user_number} X {element} = {user_number*element}" )

Enter a number between 1 and 10:  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# Question 8. 
 Power of a Number
Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. For example, if the user inputs 3, the output should be:
3^1 = 3
3^2 = 9
3^3 = 27
... up to 3^10.

In [64]:
user_input = int(input("Enter a number"))
if user_input > 0 and user_input <= 10:
    for power in range(1,11):
        print(f"{user_input}^{power} = {user_input**power}" )

Enter a number 3

3^1 = 3
3^2 = 9
3^3 = 27
3^4 = 81
3^5 = 243
3^6 = 729
3^7 = 2187
3^8 = 6561
3^9 = 19683
3^10 = 59049

# Question 9. 
Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. The program should display the current number at each step until it reaches 0, at which point it should print a message indicating the countdown is finished
Output Hint:
Enter a number to start the countdown:  3
 3
 2
 1
 0
 Countdown finished!

In [66]:

count= int(input("Enter a number to start the countdown: "))
while count >= 0:
    print(count)
    count -= 1
print("Countdown finished!")

Enter a number to start the countdown:  5

5
4
3
2
1
0
Countdown finished!

# Question 10. 
Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
Ensure the stars in each row are separated by spaces, and each row starts on a new line.
Pattern:
*
**
***
****
*****

In [68]:
star = int(input("Enter the number of rows for the triangle: "))
for a in range(1,star+1): 
    print(" ".join("*" * a))

Enter the number of rows for the triangle:  5

*
* *
* * *
* * * *
* * * * *